body{
    background-color: rgb(49, 48, 48);
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
p{
    color: white;
}
h1
{
    color: white;
    text-decoration: underline;
    font-family: 'Trebuchet MS';
}
h2
{
    color: white;
    text-decoration: underline;
    font-family: 'Trebuchet MS';
}
ul{
    color: white;
}
a:link
{
    color: green;
    text-decoration: underline;
}
a:visited{
    color: rgb(195, 0, 255);
}
a:hover{
    background-color: rgb(187, 181, 181);
}
a:active{
    color: blue;
}
#logomarca
{
    width: 200px;
}
